@page "/category/CategoryList"
@inject ICategoryService db
@inject NavigationManager nav
@inject ITokenService tok


   


<br />
<br />
<div class="container">
    <div class="card">
        <div class="col-4 offset-2">
            <NavLink href="@($"category/add")" class="buttonbrown" style="position:absolute; left:40rem;top:1rem">Add New Category</NavLink>
        </div>
        @foreach (var i in cat)
        {

            <div class="content">
                <h4> <b>@i.Name</b> </h4>
                <br />
                <img class="imgg" src="@i.ImageUrl" />
                <br />
                <br />
                


                    <NavLink class="buttongreen" href="@($"item/categorybasedmenu/{i.Id}")">See Menu</NavLink>
                
                


                    <NavLink class="buttonbrown" href="@($"category/edit/{i.Id}")">Edit Category</NavLink>
                    <NavLink class="buttonbrown" href="@($"item/categorybasedmenu/{i.Id}")">See Menu</NavLink>

                

                <p>------------------------------------------------------</p>
            </div>

        }
    </div>
</div>

@code {
    private List<CategoryDTO> cat = new List<CategoryDTO>();
    protected async override Task OnInitializedAsync()
    {
        string token = tok.GetUserToken();
        if(token.Equals(""))
        {
            token = tok.GetAdminToken();
        }
        ResponseDTO? res = await db.GetAllCategories(token);
        if(res !=null && res.IsSuccess==true)
        {
            cat = JsonConvert.DeserializeObject<List<CategoryDTO>>(Convert.ToString(res.Result));
        }
    }

}
